@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    --fundo: #141414;
    --escuro: #014399;
    background:linear-gradient(#141414,rgba(0, 0, 0, 0.575)); 
    background-color: var(--fundo);
    font-family: "Roboto", sans-serif;
    height: 100vh;
    overflow: hidden;

}

.container-login {
    margin-top: 5%;
    width: 30%;
    color: white;
}

.card-form-login {
    margin-top:4%;
    color: white;
    background-color: #ffffff17;
    padding: 0px;
    padding-top: 10%;
    height: 45vh;
    border-radius: 10px;
}

.row-login {
    padding: 0px;
    margin: 0px;
    gap: 30px;
}
.row-login a{
    text-decoration: none;
}

.inputbox-login {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    width: 80%;
}

.inputbox-login p {
    padding: 0px;
    margin-top: 3%;
    width: fit-content;
    font-weight: bold;
}

.inputbox-login label {
    width: fit-content;
    font-weight: bold;
    margin-bottom: 2%;
}

.inputbox-login input {
    height: 50px;
    border: 2px solid #373737;    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.151);
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
 

}
.inputbox-login input:focus{
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.39);
    outline: 0;
}
.card-form-login button{
    background-color: white;
    border: none;
    border-radius: 5px;
    color: var(--fundo);
    width: 50%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5%;
}
.erro-login{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.erro-login p {
    color: rgb(247, 95, 95);
    padding: 0.5% 5% 0.5% 5%;
    border-radius: 5px;
    width: fit-content;
    background-color: rgba(255, 40, 40, 0.274);
}
@media (max-width: 1100px) {
    .container-login{
        width: 50%;
    }
    
}
@media (max-width: 600px) {
    .container-login{
        width: 100%;
        margin-top: 10%;
    }
    .card-form-login{
        height: 60vh;
        background-color: transparent;

    }
    .inputbox-login{
        width: 90%;
    }
    .card-form-login button{
        width: 80%;
        height: 50px;
        margin-top: 10%;
    }
    .inputbox-login input {
    font-size: 15px;

    }
}
@media (min-width: 2000px) {
    .container-login{
        width: 30%;
    }
    .card-form-login{
        height: 35vh;
    }
    .inputbox-login{
        width: 90%;
    }
    
}